<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.freshbread.mapper.BoardGameMapper">
    <select id="selectBoardGameList" resultType="com.github.freshbread.data.BoardGame">
        <![CDATA[
        SELECT
            title
            , title_eng
            , weight
            , playtime
            , player
            , recommend
            , link
            , regdate
        FROM boardgame
        WHERE 1=1
          AND isdelete = 'N'
        ORDER BY ID;
        ]]>
    </select>
</mapper>